@import url('https://fonts.googleapis.com/css2?family=Arimo:ital@1&family=Roboto:wght@300&display=swap');

/*estilo general*/
:root {
    --color-principal: #00669F;
    --color-font: #fff9f9;
}

* {
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

a {
    color: var(--color-font);
    text-decoration: none;
}

/*header*/
header {
    width: 100%;
}

.desc {
    background-color: #D1891C;
    margin: 0;
    padding: 8px;
    color: var(--color-font);
    font-size: 20px;
    box-sizing: border-box;
}

.sticky {
    background-color: var(--color-principal);
    margin: 0;
    position: sticky;
    top: 0;
    box-sizing: border-box;
    box-shadow: 0px 10px 7px rgba(0, 0, 0, 0.25);
    height: 100px;
    padding: 30px;
    color: var(--color-font);
}

.title {
    margin: 0;
    text-transform: uppercase;
}

.paginas {
    background-color: #001D2D;
    margin: 0;
    display: flex;
    justify-content: flex-end;
    box-sizing: border-box;
    padding: 5px;
}

.enlaces {
    list-style: none;
    display: grid;
    grid-template-columns: 37% 37% 25%;
    width: 400px;
    text-align: center;
}

.enlace {
    width: 100px;
    height: 50px;
    display: flex;
    align-items: center;
}

.enlaces .mobile {
    display: none;
}

.enlace .mobile {
    display: none;
}

/*formulario login*/
.login {
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 10rem;
    min-width: 310px;
    width: fit-content;
    border-radius: 20px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    background: linear-gradient(180deg, #00669f, transparent);
    height: 75vh;
}

.mensaje {
    text-transform: uppercase;
    color: var(--color-font);
    border: outset;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 10px;
    display: flex;
}

.recuadro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    height: 50%;
    margin-top: 30px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.recuadro legend {
    font-weight: 700;
    font-size: 20px;
    color: rgb(36, 36, 36);
}

.recuadro .in-width {
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: 10px 0px;
}

.in-width .datos {
    width: 100%;
    border-radius: 10px;
    border: 0;
    height: 30px;
    margin-top: 5px;
}

.in-width button {
    width: 80px;
    height: 40px;
    border: 0;
    border-radius: 10px;
}

/*formulario registro*/
.contenedorGrande {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin: 3rem auto 20%;
    background: linear-gradient(180deg, #00669f, black);
    border-radius: 50px;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 10px;
    color: var(--color-font);
    min-width: 350px;
}
.contenedorGrande article{
    width: 100%;
}

article.bloques1{
    text-align: center;
}

article.bloques2{
    display: flex;
    flex-direction: column;
    margin: 1rem 0 1rem;
}

.bloques2 .nameSpecie{
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: auto;
    flex-wrap: wrap;
}

.nameSpecie input{
    width: 100%;
    border: 0;
    border-radius: 10px;
    height: 25px;
    margin-top: .5rem;
}

.formGrande{
    display: flex;
    margin: 1rem;
    flex-wrap: wrap;
    justify-content: space-around;
    min-width: 310px;
}

.fechaDescripcion{
    width: 30%;
    min-width: 180px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.fechaDescripcion input{
    width: 100%;
    border: 0;
    border-radius: 10px;
    height: 25px;
}
.fechaDescripcion textarea{
    border-radius: 10px;
    height: 50%;
}

.detalles{
    width: 50%;
    min-width: 290px;
    display: flex;
    flex-direction: column;
}

.detalles .imagen{
    display: flex;
    flex-direction: column;
}

.detalles .poderes{
    display: flex;
    flex-direction: column;
    margin: 1rem;
}

.detalles hr{
    width: 100%;
}

.bloques{
    display: flex;
    justify-content: center;
    align-items: center;
}
/*cartas*/
.contenedor {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 2em;
}

.card {
    min-width: 310px;
    max-width: 350px;
    height: 630px;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 10px;
    position: relative;
}

.icono {
    height: 200px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 15px;
    margin: 0;
    box-sizing: border-box;
    background-size: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.uno {
    background-image: url(../img/baticueba.png);
}

.dos {
    background-image: url(../img/fondo\ marabilla.png);
}

.tres {
    background-image: url(../img/tierra.png);
}

.cuatro {
    background-image: url(../img/explosion.png);
}

.rostro img {
    width: 120px;
    border-radius: 50%;
}

.rostro {
    display: flex;
    justify-content: center;
    margin-top: -60px;
}

.info {
    margin-top: 20px;
    text-align: center;

}

.info span {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 25px;
}

.info p {
    text-align: justify;
    padding: 0px 25px;
}

.mas {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 5%;
    left: 30%;
}

.mas button {
    background-color: var(--color-principal);
    border-radius: 10px;
    border: 0;
    width: 100px;
    height: 50px;
    box-sizing: border-box;
    margin: 15px;
}

/*footer*/
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-principal);
    color: var(--color-font);
    box-sizing: border-box;
    padding: 20px;
    flex-wrap: wrap;
}

footer img {
    width: 150px;
    margin: 10px;
}

.derechos span {
    text-transform: uppercase;
}

/*button add*/
.add {
    z-index: 20;
    position: fixed;
    right: 3%;
    top: 47%;
    background-color: var(--color-principal);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border: 0;
    color: var(--color-font);
    font-size: 40px;
    font-weight: 700;
}

@media (min-width:481px) and (max-width:768px) {
    footer {
        flex-direction: column;
    }
}

@media (min-width:0px) and (max-width:480px) {
    header .title {
        font-size: 25px;
    }

    .nomobile {
        display: none;
    }

    .enlaces {
        grid-template-columns: 40% 40% 20%;
    }

    .enlaces .mobile {
        display: flex;
    }

    .enlace .mobile {
        display: flex;
    }

    footer {
        flex-direction: column;
    }

    .add {
        top: 75%;
    }
}